<div class="row">
    <div class="col-md-12">
        <div ui-view class="fade-in-up" ng-cloak></div>
        <div data-ng-include="'app/views/jobseeker/personalinfo.html'" ng-controller="personalinfoController"></div>
        <div data-ng-include="'app/views/jobseeker/educationinfo.html'" ng-controller="educationinfoController"> </div>
        <div data-ng-include="'app/views/jobseeker/experienceinfo.html'" ng-controller="experienceinfo"> </div>
        <div data-ng-include="'app/views/jobseeker/publicationinfo.html'" ng-controller="publicationinfo"> </div>
        <div data-ng-include="'app/views/jobseeker/traininginfo.html'" ng-controller="traininginfo"> </div>
        <div data-ng-include="'app/views/jobseeker/membershipinfo.html'" ng-controller="membershipinfo"> </div>
        <div data-ng-include="'app/views/jobseeker/languageinfo.html'" ng-controller="languageinfo"> </div>
        <div data-ng-include="'app/views/jobseeker/referenceinfo.html'" ng-controller="referenceinfo"> </div>
    </div>
    
</div>

